<!doctype html>
<html>
	<head>
		<title>Lottery!</title>
	</head>
	<body align="center">
		<h1>Results:</h1>
          <%= ApplicationHelper.oneinfivegame %>

        <!-- footer -->
            </br>
	</body>
</html>