<!doctype html>
<html>
	<head>
		<title>Lottery!</title>
	</head>
	<body align="center">
		<h1>Suit and Thai Lottery!</h1>
        <button><a href="outcome">Click for a chance to win a FREE appetizer or dessert coupon for your next visit!</a></button>

        <!-- footer -->
            </br>
	</body>
</html>
