
<a href="/" class="btn btn-outline-secondary">Menu</a>
<a href="Game1" class="btn btn-outline-secondary">Game 1</a>
<a href="Game2" class="btn btn-outline-secondary">Game 2</a>
<a href="Game3" class="btn btn-outline-secondary">Game 3</a>