<!doctype html>
<html>
	<head>
		<meta charset= "UTF-8">
		<title>Sudoku</title>
	</head>
	<body align="center">
		<h1></h1>
		<p>Play the game below!</p>
		<div align="center">
			<IFRAME SRC="//widget.websudoku.com/?level=2" WIDTH="200" HEIGHT="260" SCROLLING="no" FRAMEBORDER="0"></IFRAME>
		</div>
        <!-- footer -->
            </br>
            <h4>Note: If the game doesn't load, reload the page</h4>
            <h6>Brought to you by Web Sudoku Widget</h6>
            </br>
</body>
</html>