<a href="Game1" class="btn btn-outline-secondary">Click to play Wild West Hangman</a>
<a href="Game2" class="btn btn-outline-secondary">Click to play Rapid Math</a>
<a href="Game3" class="btn btn-outline-secondary">Click to play Sudoku</a>
