<h1> Waitstaff </h1>

<h1> Waitstaff </h1>

<form>
<input type="button" value="Table 9" onclick="window.location.href='https://suit-and-thai.herokuapp.com/admin/users/11/orders'" />
</form>

<form>
<input type="button" value="Table 10" onclick="window.location.href='https://suit-and-thai.herokuapp.com/admin/users/12/orderss'" />
</form>

<form>
<input type="button" value="Table 11" onclick="window.location.href='https://suit-and-thai.herokuapp.com/admin/users/32/orders'" />
</form>

<form>
<input type="button" value="Table 12" onclick="window.location.href='https://suit-and-thai.herokuapp.com/admin/users/13/orders'" />
</form>

<form>
<input type="button" value="Table 13" onclick="window.location.href='https://suit-and-thai.herokuapp.com/admin/users/14/orders'" />
</form>

<form>
<input type="button" value="Table 14" onclick="window.location.href='https://suit-and-thai.herokuapp.com/admin/users/15/orders'" />
</form>

<form>
<input type="button" value="Table 15" onclick="window.location.href='https://suit-and-thai.herokuapp.com/admin/users/16/orders'" />
</form>

<form>
<input type="button" value="Table 16" onclick="window.location.href='https://suit-and-thai.herokuapp.com/admin/users/17/orders'" />
</form>