<h1> Waitstaff </h1>

<div class="container">
	<script type="text/javascript">
		var settings = {
		  "async": true,
		  "crossDomain": true,
		  "url": "https://suit-and-thai.herokuapp.com/api/v1/orders?token=708c6f286f0bafc16869e3eb668011c52558ba60c34e0055&q[email_cont]=table1@tabl1.com&q[s]=number%20desc=,number%20desc",
		  "method": "GET",
		  "headers": {
		    "cache-control": "no-cache",
		    "Postman-Token": "9c2b1de4-6292-403c-9e03-7b5d39c2b6e3"
		  }
		}

		$.ajax(settings).done(function (response) {
		  document.write(JSON.stringify(response));
		});
	</script>
<br>
	<script type="text/javascript">
		var settings2 = {
		  "async": true,
		  "crossDomain": true,
		  "url": "https://suit-and-thai.herokuapp.com/api/v1/orders?token=708c6f286f0bafc16869e3eb668011c52558ba60c34e0055&q[email_cont]=table2@table2.com&q[s]=number%20desc=,number%20desc",
		  "method": "GET",
		  "headers": {
		    "cache-control": "no-cache",
		    "Postman-Token": "81b7321a-e5de-4f12-9b09-7990ffb80d80"
		  }
		}

		$.ajax(settings2).done(function (response) {
		  document.write(JSON.stringify(response));
		});
	</script>
<br>
	<script type="text/javascript">
		var settings3 = {
		  "async": true,
		  "crossDomain": true,
		  "url": "https://suit-and-thai.herokuapp.com/api/v1/orders?token=708c6f286f0bafc16869e3eb668011c52558ba60c34e0055&q[email_cont]=table3@table3.com&q[s]=number%20desc=,number%20desc",
		  "method": "GET",
		  "headers": {
		    "cache-control": "no-cache",
		    "Postman-Token": "81b7321a-e5de-4f12-9b09-7990ffb80d80"
		  }
		}

		$.ajax(settings3).done(function (response) {
		  document.write(JSON.stringify(response));
		});
	</script>
	<br>
	<script type="text/javascript">
		var settings4 = {
		  "async": true,
		  "crossDomain": true,
		  "url": "https://suit-and-thai.herokuapp.com/api/v1/orders?token=708c6f286f0bafc16869e3eb668011c52558ba60c34e0055&q[email_cont]=table4@table4.com&q[s]=number%20desc=,number%20desc",
		  "method": "GET",
		  "headers": {
		    "cache-control": "no-cache",
		    "Postman-Token": "81b7321a-e5de-4f12-9b09-7990ffb80d80"
		  }
		}

		$.ajax(settings4).done(function (response) {
		  document.write(JSON.stringify(response));
		});
	</script>
	<br>
	<script type="text/javascript">
		var settings5 = {
		  "async": true,
		  "crossDomain": true,
		  "url": "https://suit-and-thai.herokuapp.com/api/v1/orders?token=708c6f286f0bafc16869e3eb668011c52558ba60c34e0055&q[email_cont]=table5@table5.com&q[s]=number%20desc=,number%20desc",
		  "method": "GET",
		  "headers": {
		    "cache-control": "no-cache",
		    "Postman-Token": "81b7321a-e5de-4f12-9b09-7990ffb80d80"
		  }
		}

		$.ajax(settings5).done(function (response) {
		  document.write(JSON.stringify(response));
		});
	</script>
	<br>
	<script type="text/javascript">
		var settings6 = {
		  "async": true,
		  "crossDomain": true,
		  "url": "https://suit-and-thai.herokuapp.com/api/v1/orders?token=708c6f286f0bafc16869e3eb668011c52558ba60c34e0055&q[email_cont]=table6@table6.com&q[s]=number%20desc=,number%20desc",
		  "method": "GET",
		  "headers": {
		    "cache-control": "no-cache",
		    "Postman-Token": "81b7321a-e5de-4f12-9b09-7990ffb80d80"
		  }
		}

		$.ajax(settings6).done(function (response) {
		  document.write(JSON.stringify(response));
		});
	</script>
	<br>
	<script type="text/javascript">
		var settings7 = {
		  "async": true,
		  "crossDomain": true,
		  "url": "https://suit-and-thai.herokuapp.com/api/v1/orders?token=708c6f286f0bafc16869e3eb668011c52558ba60c34e0055&q[email_cont]=table7@table7.com&q[s]=number%20desc=,number%20desc",
		  "method": "GET",
		  "headers": {
		    "cache-control": "no-cache",
		    "Postman-Token": "81b7321a-e5de-4f12-9b09-7990ffb80d80"
		  }
		}

		$.ajax(settings7).done(function (response) {
		  document.write(JSON.stringify(response));
		});
	</script>
	<br>
	<script type="text/javascript">
		var settings8 = {
		  "async": true,
		  "crossDomain": true,
		  "url": "https://suit-and-thai.herokuapp.com/api/v1/orders?token=708c6f286f0bafc16869e3eb668011c52558ba60c34e0055&q[email_cont]=table8@table8.com&q[s]=number%20desc=,number%20desc",
		  "method": "GET",
		  "headers": {
		    "cache-control": "no-cache",
		    "Postman-Token": "81b7321a-e5de-4f12-9b09-7990ffb80d80"
		  }
		}

		$.ajax(settings8).done(function (response) {
		  document.write(JSON.stringify(response));
		});
	</script>

</div>