<h1>Waitstaff Home</h1>

<input type="button" value="Ed" onclick="window.location.href='https://suit-and-thai.herokuapp.com/spree/content/waitstaff'" />
</form>

<form>
<input type="button" value="Edd" onclick="window.location.href='https://suit-and-thai.herokuapp.com/spree/content/waitstaff2'" />
</form>

<form>
<input type="button" value="Eddy" onclick="window.location.href='https://suit-and-thai.herokuapp.com/spree/content/waitstaff3'" />
</form>