<h1> Waitstaff </h1>

<div class="container">
	<script type="text/javascript">
		var settings = {
		  "async": true,
		  "crossDomain": true,
		  "url": "https://suit-and-thai.herokuapp.com/api/v1/orders?token=708c6f286f0bafc16869e3eb668011c52558ba60c34e0055&q[s]=number%20desc=,number%20desc",
		  "method": "GET",
		  "headers": {
		    "cache-control": "no-cache",
		    "Postman-Token": "9c2b1de4-6292-403c-9e03-7b5d39c2b6e3"
		  }
		}

		$.ajax(settings).done(function (response) {
		  document.write(response);
		});
	</script>


</div>