<h1> Waitstaff </h1>

<h1> Waitstaff </h1>

<form>
<input type="button" value="Table 17" onclick="window.location.href='https://suit-and-thai.herokuapp.com/admin/users/30/edit'" />
</form>

<form>
<input type="button" value="Table 18" onclick="window.location.href='https://suit-and-thai.herokuapp.com/admin/users/29/orders'" />
</form>

<form>
<input type="button" value="Table 19" onclick="window.location.href='https://suit-and-thai.herokuapp.com/admin/users/28/orders'" />
</form>

<form>
<input type="button" value="Table 20" onclick="window.location.href='https://suit-and-thai.herokuapp.com/admin/users/27/orders'" />
</form>

<form>
<input type="button" value="Table 21" onclick="window.location.href='https://suit-and-thai.herokuapp.com/admin/users/26/orders'" />
</form>

<form>
<input type="button" value="Table 22" onclick="window.location.href='https://suit-and-thai.herokuapp.com/admin/users/25/orders'" />
</form>

<form>
<input type="button" value="Table 23" onclick="window.location.href='https://suit-and-thai.herokuapp.com/admin/users/24/orders'" />
</form>

<form>
<input type="button" value="Table 24" onclick="window.location.href='https://suit-and-thai.herokuapp.com/admin/users/23/orders'" />
</form>